%h1 Carriers
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.carrier.name", :default => t("activerecord.labels.name", :default => "Name"))
      %th Created at
      %th Actions
  %tbody
    - @carriers.each do |carrier|
      %tr
        %td= carrier.id
        %td= link_to carrier.name, carrier_path(carrier)
        %td= carrier.created_at
        %td
          = link_to "Show", carrier_path(carrier)
          = link_to "Edit", edit_carrier_path(carrier)
          = link_to "Destroy", carrier_path(carrier), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

= link_to "New", new_carrier_path, :class => 'btn btn-primary'
