%h1 Sudents list
- counter = 1
%table{:class => "table table-striped"}
  %thead
    %tr
      %th #
      %th
        = t("activerecord.attributes.student.name", :default => t("activerecord.labels.name", :default => "Name"))
      %th Correo
      %th Twitter
      %th Lugar
      %th Empresa
      %th Genero
      %th Fecha de Nacimiento
      %th RFC
      %th CURP
      %th Acciones
  %tbody
    - @students.each do |student|
      %tr
        %td= counter
        - counter = counter + 1
        %td= link_to student.name, student_path(student)
        %td= student.email
        %td= student.twitter
        %td= student.place
        %td= student.enterprise
        %td= student.gender
        %td= student.birth_date
        %td= student.rfc
        %td= student.curp
        %td.btn-group
          = link_to "Show", student_path(student), :class => "btn"
          = link_to "Edit", edit_student_path(student), :class => "btn"
          = link_to "Destroy", student_path(student), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => "btn"

= link_to "New", new_student_path, :class => 'btn btn-primary'
