%h3 Nombre
%p= @student.name
%h3 Correo
%p= @student.email
%h3 Twitter
%p= @student.twitter
%h3 Lugar
%p= @student.place
%h3 Empresa
%p= @student.enterprise
%h3 Genero
%p= @student.gender
%h3 Carrera
%p= @student.carrier.name
%h3 Semestre
%p= @student.current_semester
%h3 No. Cuenta
%p= @student.account_number
%h3 Sistema operativo
%p= @student.system.name
%h3 Talla de playera
%p= @student.size.name

