%h3 Nombre
%p= @student.name
%h3 Correo
%p= @student.email
%h3 Carrera
%p= @student.carrier.name
%h3 Semestre
%p= @student.current_semester
%h3 No. Cuentad
%p= @student.account_number
%h3 Sistema operativo
%p= @student.system.name
%h3 Talla de playera
%p= @student.shirt_size_id

