.clearfix
  %h2 Nombre completo
  .input
    = f.text_field :name
.clearfix
  %h2 Correo
  .input
    = f.text_field :email
.clearfix
  %h2 Twitter
  .input
    = f.text_field :twitter
.clearfix
  %h2 Lugar donde nos visita?
  .input
    = f.text_field :place
.clearfix
  %h2 Empresa
  .input
    = f.text_field :enterprise
.clearfix
  %h2 RFC
  .input
    = f.text_field :rfc
.clearfix
  %h2 Fecha de Nacimiento
  .input
    = f.date_select :birth_date, :order => [:day, :month, :year]
.clearfix
  %h2 CURP
  .input
    = f.text_field :curp
.clearfix
  %h2 Genero
  .input
    = f.select :gender, options_for_select(['Masculino', 'Femenino'])
.clearfix
  %h2 Carrera
  .input
    = f.select :carrier_id, options_from_collection_for_select(@carriers, "id", "name")
.clearfix
  %h2 Semestre
  .input
    = f.number_field :current_semester
.clearfix
  %h2 Sistema operativo
  .input
    = f.select :system_id, options_from_collection_for_select(@systems, "id", "name")
.clearfix

.form-actions
  %button{:class => "btn primary", :type => "submit"} Save
  or
  = link_to "Cancel", students_path
