%h1 Lista de Asistentes
- counter = 1

= form_tag 'attendees', :method => :get, id: 'search-form' do
  = text_field_tag 'q', nil, :placeholder=> 'buscar por nombre'
  = submit_tag 'Buscar', :class => 'btn btn-inverse btn-small'

= link_to 'Todos', 'attendees', :class => 'btn btn-small'

%h3 
  = @search_string

%table{id: 'attendees', class: "table"}
  %thead
    %tr
      %th #
      %th
        = t("activerecord.attributes.student.name", :default => t("activerecord.labels.name", :default => "Name"))
      %th Genero
      %th Correo
      %th Twitter
      %th Lugar
      %th Empresa
      %th Puesto
      %th Carrera
      %th Acciones
  %tbody
    - @attendees.each do |attendee|
      %tr
        %td= counter
        - counter = counter + 1
        %td= link_to attendee.name, attendee_path(attendee)
        %td= attendee.gender
        %td= attendee.email
        %td= attendee.twitter
        %td= attendee.place
        %td= attendee.enterprise
        %td= attendee.employment
        %td= attendee.carrier
        %td
          = link_to "Ver", attendee_path(attendee)
          |
          = link_to "Editar", edit_attendee_path(attendee)
          |
          = link_to "Eliminar", attendee_path(attendee), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
= link_to image_tag("pdf.png", :border => 0, :width => '90', :alt => '', :title => ''), attendees_pdf_path
