= link_to '< Atras', attendees_path, class: "btn btn-primary btn-large back"

#attendees.span9
  .left.span4
    .clearfix
      %h2 Nombre
      %p= @attendee.name
    .clearfix
      %h2 Correo
      %p= @attendee.email
    .clearfix
      %h2 Twitter
      %p= @attendee.twitter
    .clearfix
      %h2 Lugar
      %p= @attendee.place
    .clearfix
      %h2 Empresa
      %p= @attendee.enterprise
    .clearfix
      %h2 RFC
      %p= @attendee.rfc
    .clearfix
      %h2 Fecha de Nacimiento
      %p= @attendee.birth_date

  .right.span4
    .clearfix
      %h2 CURP
      %p= @attendee.curp
    .clearfix
      %h2 Genero
      %p= @attendee.gender
    .clearfix
      %h2 Carrera
      %p= @attendee.carrier
    .clearfix
      %h2 Semestre
      %p= @attendee.current_semester
    .clearfix
      %h2 No. Cuenta
      %p= @attendee.account_number
    .clearfix
      %h2 Sistema operativo
      %p= @attendee.system.try(:name)
    .clearfix
      %h2 Talla de playera
      %p= @attendee.size.try(:name)

